.chefs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;
}

/*phone devices*/
@media only screen and (max-width:688px) {
    .chefs{
        grid-template-columns: repeat(1, 1fr);
    }
}


/*tablet devices*/
@media only screen and (min-width:689px) and  (max-width:992px) {
    .chefs{
        grid-template-columns: repeat(2, 1fr);
    }
}